"**/node_modules",
"**/dist",
"**/coverage",
"**/out-tsc",
"**/*.spec.ts",
"**/*.test.ts",
"**/*.e2e-spec.ts",
"**/*.svg",
"**/*.png",
"**/*.jpg",
"**/*.jpeg",
"**/*.gif",
"**/*.webp",
"**/.env",
"**/.env.*",
"**/*.env",