// Global styles for the Cinephoria web app
@use "@angular/material" as mat;

@include mat.core();

// Define custom color palettes
$my-primary: mat.m2-define-palette(mat.$m2-green-palette, 300);
$my-accent: mat.m2-define-palette(mat.$m2-orange-palette, A200, A100, A400);
$my-warn: mat.m2-define-palette(mat.$m2-red-palette);

// Define the theme using the custom palettes
$my-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
      warn: $my-warn,
    ),
    typography: mat.m2-define-typography-config(),
    density: 0,
  )
);

// Export individually if needed
$my-primary: $my-primary !default;
$my-accent: $my-accent !default;
$my-warn: $my-warn !default;

@include mat.all-component-themes($my-theme);

$primary-background: white;
$primary-text: black;

// Export theme individually if needed
$my-theme: $my-theme !default;

//global scss
:host {
  font-family: "Inter", Roboto, "Helvetica", "Arial", "sans-serif";

  --background: $primary-background;

  --gray-900: oklch(19.37% 0.006 300.98);
  --gray-700: oklch(36.98% 0.014 302.71);
  --gray-400: oklch(70.9% 0.015 304.04);

  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100vh;
  width: 100vw;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Inter", Roboto, "Helvetica", "Arial", "sans-serif";
  background-color: var(--background);
  color: var(--gray-900);
  height: 100vh;
}

main {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: inherit;
  position: relative;
  margin-top: 5rem;
  color: var(--gray-900);
}

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
